<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% for person in persons %}
    <ul>
        <li>
            {{person}}
        </li>
        <li>
            {{person.age}}
        </li>
    </ul>
    {%endfor%}


</body>
</html>